{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
    <p class = "title">
      {{message}}
    </p>
    <div class="row justify-content-center">
      <div class="col-12 col-lg-10 col-md-6 text-center">
        <p class="text-large alt-font font-weight-300 text-white-2">The mission of Pandemic buddy is to <strong>bring light in a dark moment</strong> creating relationships between people from the same area that need help and want to help.</p>
        <p class="text-large alt-font font-weight-300 text-white-2">The offered and needed help can be both,<strong> in person or over the phone</strong> two people can connect for a while to chat for a few minutes and it can brighten someones day or week.</p>
        <p class="text-large alt-font font-weight-300 text-white-2">We reccomend starting with one buddy, and then in case you want to donate more of your time asking for another one.</p>
        <p class="text-large alt-font font-weight-300 text-white-2">Once you get connected with someone a new buddy will appear in the 'My buddies' tab, make sure to check for updates.</p>
        <p class="text-large alt-font font-weight-300 text-white-2">We reccomend starting with one buddy, and then in case you want to donate more of your time asking for another one.</p>
        <p class="text-large alt-font font-weight-300 text-white-2">We will always respect your privacy and the only data that will be shared <strong>by us</strong> with your buddy is your <strong>email and phone number</strong>.</p>
        <p class="text-large alt-font font-weight-300 text-white-2"><strong>Happy buddying!</strong></p>
      </div>
    </div>
{% endblock %}